<li class="" data-hover="false">
	<div id="resultDataRow0" class="docMain">
		<div class="dataCol1" style="width: 12px;">
			<span class="custom-checkbox">
				<input id="eid_2-s2.0-84988354940" name="selectedEIDs" onclick="selectDeselectResult(this.form, this)" type="checkbox" value="2-s2.0-84988354940"><input type="hidden" name="_selectedEIDs" value="on">
				<span class="box"><span class="tick"></span></span>
			</span>	
			<label for="eid_2-s2.0-84988354940">
				<span class="hidden-label">
					result
				</span>
				<span class="listItemCount"><java-data-iteration></span>
			</label>
		</div> 
		<div class="dataCol2">
			<label class="hidden-label">Document</label>
			<span class="docTitle">
				<java-data-title>
			</span>
		</div>
		<div class="dataCol3">
			<label class="hidden-label">Authors of Document</label>
			<span class=" displayInlineBlock">
				<java-data-names>
			</span>
		</div>
		<div class="dataCol4">
			<label class="hidden-label">Year the Document was Publish</label>
			<span class="">
				<java-data-year>
			</span>
		</div>
		<div class="dataCol5">
			<label class="hidden-label">Source of the Document</label>
			<span class="">
				<java-data-source>
				<div class="additionalContent visibleHidden"><span>60</span><span> (5)</span><span>, 052111</span></div>
				<span class="sourceTitleOATxt openAccessTxt">Open Access</span>
			</span>
		</div>
		<div class="dataCol6">
			<label class="hidden-label">Number of Documents that reference this Document</label>
			0<br>
			<span class="showCitedBy displayBlock visibleHidden">Cited<br>by</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="hidden-label">
		<a>Show record link row</a>
	</div>
	<div id="resultLinkRow0" class="linkRow txtSmaller" data-sourcecode="j" data-citationcode="ar">
		<label class="hidden-label">Other links for this Document</label>
		<a class="outwardLink"></a>
		<span id="2_OHUB_Div" class="divider zoomFix">|</span>								
		<span id="previewAbstractLinkText1" class="abstractLink">
			<a>Show abstract</a>
		</span>
		<span id="resultRelatedDivider0" class="divider zoomFix" title="">|</span>	
		<a>
			Related documents
		</a>
		<input type="hidden" id="thirdParty1">
	</div>
	<div id="previewabstractrow1" class="abstractRow displayNone">				
		<div id="previewAbstract1"></div>				
	</div>
</li>
<script src="/src/assets/js/remoteaccmsg.js"></script>
<script src="/src/assets/js/basicsearchbottom.js"></script>
<script src="/src/assets/js/scopusmasterjs.js"></script>
<script src="/src/assets/js/errorhtmljs.js"></script>
<script src="/src/assets/js/basicsearchtop.js"></script>
<script src="/src/assets/js/bookmarklet.js"></script>
<script src="/src/assets/js/jawr_loader.js"></script>
<script src="/src/assets/js/277918141.js"></script>
<script src="/src/assets/js/geo2.js"></script>